<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Clases.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar</servlet-name>
        <servlet-class>Clases.registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarArchivos</servlet-name>
        <servlet-class>Clases.cargarArchivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>descargar</servlet-name>
        <servlet-class>Clases.descargar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearCarpetas</servlet-name>
        <servlet-class>Clases.crearCarpetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarCarpetas</servlet-name>
        <servlet-class>Clases.cargarCarpetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarCarpeta</servlet-name>
        <servlet-class>Clases.SeleccionarCarpeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obteneraArchivos</servlet-name>
        <servlet-class>Clases.obteneraArchivos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarArchivos</servlet-name>
        <url-pattern>/cargarArchivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>descargar</servlet-name>
        <url-pattern>/descargar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearCarpetas</servlet-name>
        <url-pattern>/crearCarpetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarCarpetas</servlet-name>
        <url-pattern>/cargarCarpetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarCarpeta</servlet-name>
        <url-pattern>/SeleccionarCarpeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obteneraArchivos</servlet-name>
        <url-pattern>/obteneraArchivos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
